{% for message in messages %}{% if message['role'] == 'system' %}{{ '<bos>' + message['content'] }}{% elif message['role'] == 'user' %}{{ '<bos><start_of_turn>user\n' + message['content'] + '<end_of_turn>\n<start_of_turn>model\n' }}{% elif message['role'] == 'assistant' %}{{ message['content'] + '<end_of_turn>\n' }}{% endif %}{% endfor %}